.fondoSolido{
    -fx-background-color: #1B3A57;
    }

.imgLogo{
    -fx-background-image: url("../img/logo.png");
    -fx-background-size: 150px 115px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.bordeVBox {
    -fx-border-color: #CCCCCC;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-padding: 10;
}


.boton-sidebar {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10 20;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-font-weight: normal;
    -fx-cursor: hand;
}

.boton-sidebar:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-font-weight: bold;
}

.labelPrincipal {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

.cursorMano{
    -fx-cursor: hand;
}